.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
}
.remove-bottom,
.rb {
    margin-bottom: 0 !important
}
.half-bottom {
    margin-bottom: 10px !important
}
.add-bottom {
    margin-bottom: 20px !important
}
.double-bottom {
    margin-bottom: 40px !important
}
.triple-bottom {
    margin-bottom: 60px !important
}
.remove-top,
.rt {
    margin-top: 0 !important
}
.half-top {
    margin-top: 10px !important
}
.add-top {
    margin-top: 20px !important
}
.double-top {
    margin-top: 40px !important
}
.triple-top {
    margin-top: 60px !important
}
.remove-left,
.rl {
    margin-left: 0 !important
}
.half-left {
    margin-left: 10px !important
}
.add-left {
    margin-left: 20px !important
}
.double-left {
    margin-left: 40px !important
}
.triple-left {
    margin-left: 60px !important
}
.remove-right,
.rr {
    margin-right: 0 !important
}
.half-right {
    margin-right: 10px !important
}
.add-right {
    margin-right: 20px !important
}
.double-right {
    margin-right: 40px !important
}
.triple-right {
    margin-right: 60px !important
}
.remove-margin {
    margin: 0 !important
}
.margin-half {
    margin: 10px
}
.margin {
    margin: 20px
}
.margin-double {
    margin: 40px
}
.margin-triple {
    margin: 60px
}
.remove-margin-horizontal {
    margin-left: 0 !important;
    margin-right: 0 !important
}
.half-margin-horizontal {
    margin-left: 10px !important;
    margin-right: 10px !important
}
.margin-horizontal {
    margin-left: 20px !important;
    margin-right: 20px !important
}
.double-margin-horizontal {
    margin-left: 40px !important;
    margin-right: 40px !important
}
.triple-margin-horizontal {
    margin-left: 60px !important;
    margin-right: 60px !important
}
.remove-margin-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}
.half-margin-vertical {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}
.margin-vertical {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}
.double-margin-vertical {
    margin-top: 40px !important;
    margin-bottom: 40px !important
}
.triple-margin-vertical {
    margin-top: 60px !important;
    margin-bottom: 60px !important
}
.remove-padding {
    padding: 0 !important
}
.padding-half {
    padding: 10px
}
.padding {
    padding: 20px
}
.padding-double {
    padding: 40px
}
.padding-triple {
    padding: 60px
}
.padding-quadruple {
    padding: 80px
}
.remove-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important
}
.half-padding-horizontal {
    padding-left: 10px !important;
    padding-right: 10px !important
}
.padding-horizontal {
    padding-left: 20px !important;
    padding-right: 20px !important
}
.double-padding-horizontal {
    padding-left: 40px !important;
    padding-right: 40px !important
}
.triple-padding-horizontal {
    padding-left: 60px !important;
    padding-right: 60px !important
}
.quadruple-padding-horizontal {
    padding-left: 80px !important;
    padding-right: 80px !important
}
.remove-padding-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}
.half-padding-vertical {
    padding-top: 10px !important;
    padding-bottom: 10px !important
}
.padding-vertical {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}
.double-padding-vertical {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}
.triple-padding-vertical {
    padding-top: 60px !important;
    padding-bottom: 60px !important
}
.quadruple-padding-vertical {
    padding-top: 80px !important;
    padding-bottom: 80px !important
}
.remove-padding-left {
    padding-left: 0 !important
}
.half-padding-left {
    padding-left: 10px !important
}
.padding-left {
    padding-left: 20px !important
}
.double-padding-left {
    padding-left: 40px !important
}
.triple-padding-left {
    padding-left: 60px !important
}
.quadruple-padding-left {
    padding-left: 80px !important
}
.remove-padding-right {
    padding-right: 0 !important
}
.half-padding-right {
    padding-right: 10px !important
}
.padding-right {
    padding-right: 20px !important
}
.double-padding-right {
    padding-right: 40px !important
}
.triple-padding-right {
    padding-right: 60px !important
}
.quadruple-padding-right {
    padding-right: 80px !important
}
.remove-padding-bottom {
    padding-bottom: 0 !important
}
.half-padding-bottom {
    padding-bottom: 10px !important
}
.padding-bottom {
    padding-bottom: 20px !important
}
.double-padding-bottom {
    padding-bottom: 40px !important
}
.triple-padding-bottom {
    padding-bottom: 60px !important
}
.quadruple-padding-bottom {
    padding-bottom: 80px !important
}
.remove-padding-top {
    padding-top: 0 !important
}
.half-padding-top {
    padding-top: 10px !important
}
.padding-top {
    padding-top: 20px !important
}
.double-padding-top {
    padding-top: 40px !important
}
.triple-padding-top {
    padding-top: 60px !important
}
.quadruple-padding-top {
    padding-top: 80px !important
}
.absolute {
    position: absolute
}
.absolute-right {
    right: 0
}
.absolute-top {
    top: 0
}
.text-center {
    text-align: center
}
.text-left {
    text-align: left
}
.text-right {
    text-align: right
}
.lh-normal {
    line-height: normal
}
.lh-one {
    line-height: 1
}
.text-xxs {
    font-size: 70%
}
.text-xs {
    font-size: 80%
}
.text-xl {
    font-size: 150%
}
.text-xxl {
    font-size: 200%
}
.text-muted {
    color: #999
}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}
.left {
    float: left !important
}
.right {
    float: right !important
}
.hide {
    display: none
}
.inline {
    display: inline
}
.invisible {
    visibility: hidden
}
.remove-last-bottom>*:last-child {
    margin-bottom: 0 !important
}
.remove-bottoms>li {
    margin-bottom: 0 !important
}
img[src=""] {
    display: none
}
.disabled,
input[disabled] {
    opacity: 0.5
}
pre,
.pre {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: block !important;
    padding: 10px !important;
    margin: 0 0 10.5px !important;
    font-size: 11px !important;
    line-height: 14px !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
    white-space: pre !important;
    white-space: pre-wrap !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #ccc !important;
    color: #000 !important
}
.column,
.columns,
.row,
article {
    position: relative
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
    text-decoration: none;
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: bold
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}
*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0
}
.container:after,
.row:after,
.clearfix,
.cf {
    content: "";
    display: table;
    clear: both;
    table-layout: fixed
}
.cf {
    width: 100%
}
.alpha {
    margin-left: 0
}
.omega {
    margin-right: 0
}
.right {
    float: right
}
.left {
    float: left
}
.rlb>*:last-child {
    margin-bottom: 0 !important
}
@media (min-width: 1000px) {
    .container {
        width: 100%
    }
}